/*-----------------------TITULO--------------------------*/

@media only screen and (max-width: 1366px) {
  .text-index {
    font-size: 80px;
    top: calc(100vh - 200px);
  }
  /* .header {
    display: none;
  } */
  .titulo-index {
    display: none;
  }
  /* .inscripcion {
    display: none;
  } */
}
