@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lunasima:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 60);
  min-height: 100vh;
}

.efecto {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 60, 0.721), rgba(0, 0, 60, 0));
}
.body2 {
  min-height: 100vh;
  height: 1000px;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  background-color: rgb(0, 0, 60);
}

h1 {
  display: none;
}

div a p {
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.3rem 10%;
  background: rgb(3, 0, 88);
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: auto;
}

.navbar {
  margin-right: 3rem;
}
.navbar a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  padding: 0.3rem 1rem 0.3rem 1rem;
}
.navbar a:hover {
  color: #ccff00;
  background-color: #030034;
  border-radius: 7px;
  transition: all 0.3s linear;
}

/*.menu-icon {
    display: none;
}

.navbar {
    background: #2410a8;
    color: #333;
    padding: 0.5rem 0;
    width: 100%;
    height: auto;
    border-bottom: solid 1px rgb(0, 0, 0);
    position: fixed;
    z-index: 9999;


    a {
        color: #333;
    }
}

.logo2{
    width: 30px;
    height: auto;
    border-radius: 100%;
}

.logo-container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listaNavbar {
    a {
        text-decoration: none;
        font-family: "Oswald";
        color: rgb(255, 255, 255);
    }
}

.navigation ul {
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;

    li {
        display: inline-block;
        flex-wrap: wrap;

        a {
            display: block;
            padding: 0.5rem 1rem;

            &:hover {
                color: #ccff00;
                background-color: #030034;
                border-radius: 7px;
                transition: all 0.3s linear;
            }
        }
    }
}

.icons {
    display: none;
}

.checkbox {
    display: none;
}*/
.fondo {
  display: flex;
  width: 100%;
  height: 90vh;
  /* background: linear-gradient(to top, rgba(0, 0, 75, 0.80), rgba(0, 0, 255, 0.304));*/
  height: 100vh;
}
.fondo .carousel {
  margin-top: 1.5%;
  width: 100%;
  height: 100vh;
  position: absolute;
  animation: slide-fade 15s infinite;
  opacity: 0;
}
.fondo .carousel:nth-child(1) {
  animation-delay: 0s;
}
.fondo .carousel:nth-child(2) {
  animation-delay: 5s;
}
.fondo .carousel:nth-child(3) {
  animation-delay: 10s;
}
.fondo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slide-fade {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
h2 {
  margin-top: 5%;
  font-family: "Oswald";
  color: rgb(255, 255, 255);
  font-size: 80px;
  transition: 0.3s;
}
h2:hover {
  color: #ccff00;
}

h6 {
  font-family: "Oswald";
  color: rgb(255, 255, 255);
  margin-bottom: 3%;
  font-size: 20px;
}

.torneo1 {
  display: grid;
  max-width: 60%;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(3, 150px);
  grid-template-areas: "area1 area1 area2 area2" "area1 area1 area2 area2" "area3 area3 area3 area3";
  gap: 30px;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

.grillat1__hijo {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(238, 238, 238, 0.9333333333);
  border-radius: 14px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 75, 0.879),
    rgba(0, 0, 255, 0.304)
  );
}
.grillat1__hijo img {
  object-fit: contain;
  transition: 0.8s ease;
  width: 600px;
  height: auto;
}
.grillat1__hijo .galeria_1 {
  width: 100%;
  height: auto;
}

.hovermover:hover > img {
  transform: scale(1.1);
  opacity: 0.7;
}

.g1 {
  grid-area: area1;
}

.g2 {
  grid-area: area2;
}

.g3 {
  grid-area: area3;
}

.parrafo {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 20px 25px;
  font-size: xx-large;
  z-index: 9999;
  font-family: "Lunasima";
}

.parrafo_centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1;
  margin: 0;
  padding: 10px 20px;
  font-size: xx-large;
  font-family: "Lunasima";
}

@media (max-width: 540px) {
  #check:checked ~ .listaNavbar {
    height: 15rem;
  }
  #check:checked ~ .icons #menu-icon {
    display: none;
  }
  #check:checked ~ .icons #close-icon {
    display: block;
  }
  .logo2 {
    display: none;
  }
  .icons {
    display: inline-flex;
    width: 25px;
    height: auto;
    margin-right: 20px;
  }
  #close-icon {
    display: none;
  }
  #check {
    right: 20px;
  }
  .navigation {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 10% 10%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  .navigation .listaNavbar {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    margin: 0.5rem;
  }
  .navigation .listaNavbar li a:hover {
    color: white;
    background-color: transparent;
  }
}
@media only screen and (max-width: 768px) {
  .torneo1 {
    padding-top: 3%;
    margin: auto;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 10%);
    grid-template-areas: "area1 area1" "area1 area1" "area2 area2" "area2 area2" "area3 area3";
  }
  .torneo1 img {
    width: 100%;
    height: auto;
  }
  .torneo1 p {
    font-size: 1rem;
  }
  .torneo1 .parrafo {
    padding: 10px 15px;
  }
  .titulo {
    font-size: 2rem;
  }
  .subtitulo {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 281px) {
  .torneo1 {
    padding-top: 3%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 10%);
    grid-template-areas: "area1 area1" "area1 area1" "area2 area2" "area2 area2" "area3 area3";
  }
  .torneo1 img {
    width: 100%;
    height: auto;
  }
  .torneo1 p {
    font-size: 1rem;
  }
  .torneo1 .parrafo {
    padding: 10px 15px;
  }
  .titulo {
    font-size: 1rem;
  }
  .subtitulo {
    font-size: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
/* --------------------------FOOTER ------------------------*/
.footer {
  height: 650px;
  width: 100vw;
  background-color: royalblue;
}
.footer-nav {
  height: 90px;
  width: 100vw;
  background-color: red;
  display: flex;
}
.footer-nav a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 0.4rem;
  margin: auto;
}
.footer-carrusel {
  height: 450px;
  width: 100vw;
  background-color: violet;
}
