@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lunasima:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 60);
  min-height: 100vh;
}

h1 {
  opacity: 0;
  position: absolute;
  top: 85vh;
  font-size: 200px;
}

div a p {
  color: white;
}

/*--------------------------------------------------------*/
/*--------------------------HEADER------------------------*/
/*--------------------------NAVBAR------------------------*/
/*--------------------------RESPON------------------------*/
/*--------------------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.3rem 10%;
  background: rgb(3, 0, 88);
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.chico {
  color: #ccff00;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: auto;
}

.navbar {
  margin-right: 3rem;
}
.navbar a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  padding: 0.3rem 1rem 0.3rem 1rem;
}
.navbar a:hover {
  color: #ccff00;
  background-color: #030034;
  border-radius: 7px;
  transition: all 0.3s linear;
}

@media (max-width: 540px) {
  #check:checked ~ .listaNavbar {
    height: 15rem;
  }
  #check:checked ~ .icons #menu-icon {
    display: none;
  }
  #check:checked ~ .icons #close-icon {
    display: block;
  }
  .logo2 {
    display: none;
  }
  .icons {
    display: inline-flex;
    width: 25px;
    height: auto;
    margin-right: 20px;
  }
  #close-icon {
    display: none;
  }
  #check {
    right: 20px;
  }
  .navigation {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 10% 10%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  .navigation .listaNavbar {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    margin: 0.5rem;
  }
  .navigation .listaNavbar li a:hover {
    color: white;
    background-color: transparent;
  }
}

/*.menu-icon {
    display: none;
}

.navbar {
    background: #2410a8;
    color: #333;
    padding: 0.5rem 0;
    width: 100%;
    height: auto;
    border-bottom: solid 1px rgb(0, 0, 0);
    position: fixed;
    z-index: 9999;


    a {
        color: #333;
    }
}

.logo2{
    width: 30px;
    height: auto;
    border-radius: 100%;
}

.logo-container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listaNavbar {
    a {
        text-decoration: none;
        font-family: "Oswald";
        color: rgb(255, 255, 255);
    }
}

.navigation ul {
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;

    li {
        display: inline-block;
        flex-wrap: wrap;

        a {
            display: block;
            padding: 0.5rem 1rem;

            &:hover {
                color: #ccff00;
                background-color: #030034;
                border-radius: 7px;
                transition: all 0.3s linear;
            }
        }
    }
}

.icons {
    display: none;
}

.checkbox {
    display: none;
}*/

/*------------------------------------------------------------*/
/*----------------------------FONDO---------------------------*/
/*----------------------------FONDO---------------------------*/
/*----------------------------FONDO---------------------------*/
/*------------------------------------------------------------*/

.efecto {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 60, 0.721), rgba(0, 0, 60, 0));
}
.text-index {
  position: absolute;
  left: 1%;
  font-family: "Poppins", sans-serif;
  top: 77vh;
  font-size: 105px;
  color: #fff;
}
.flecha {
  position: absolute;
  bottom: 12vh;
  left: 48.2%;
  width: 70px;
  object-fit: cover;
  filter: contrast(3);
  filter: invert();
  height: 90px;
  animation: flecha 2s infinite;
}
@keyframes flecha {
  0% {
    transform: translatey(0%);
  }
  40% {
    transform: translatey(20%);
  }
}

/*----------------------INCRIPCION BOTON----------------------*/

.inscripcion {
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 99999;
  background-color: #ccff00;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 75px;
  transition: all 0.3s linear;
}
.inscribite {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #030034;
  font-size: 35px;
  transition: all 0.3s linear;
}
.inscribite span {
  font-family: "Poppins", sans-serif;
  transition: all 0.3s linear;
}
.inscripcion:hover {
  background-color: rgb(3, 0, 88);
  transition: all 0.3s linear;
}
.inscripcion:hover > a {
  color: #ccff00;
  transition: all 0.3s linear;
}
.inscripcion:hover > .inscribite::after {
  color: #ccff00;
  transition: all 0.3s linear;
}
.inscribite::after {
  content: "al torneo";
  position: absolute;
  font-size: 20px;
  color: #030034;
  top: 40px;
  left: 85px;
  transition: all 0.3s linear;
}
.inscribite span:nth-child(1) {
  display: inline-block;
  animation: aca 2s infinite;
  font-size: 35px;
  animation-delay: 0.2s;
  transform: translatey(15px);
}
.inscribite span:nth-child(2) {
  display: inline-block;
  animation: aca 2s infinite;
  font-size: 35px;
  animation-delay: 0.4s;
  transform: translatey(15px);
}
.inscribite span:nth-child(3) {
  display: inline-block;
  animation: aca 2s infinite;
  font-size: 35px;
  animation-delay: 0.6s;
  transform: translatey(15px);
}

@keyframes aca {
  0%,
  40%,
  100% {
    transform: translatey(15px);
  }
  20% {
    transform: translateY(-5px);
  }
}

.body2 {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  background-color: rgb(0, 0, 60);
}

.fondo {
  display: flex;
  width: 100%;
  height: 90vh;
}

.fondo .carousel {
  margin-top: 1.5%;
  width: 100%;
  height: 100vh;
  position: fixed;
  animation: slide-fade 15s infinite;
  opacity: 0;
  z-index: -1;
}

.fondo .carousel:nth-child(1) {
  animation-delay: 0s;
}

.fondo .carousel:nth-child(2) {
  animation-delay: 5s;
}

.fondo .carousel:nth-child(3) {
  animation-delay: 10s;
}

.fondo img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

@keyframes slide-fade {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

/*------------------------------------------------------------*/
/*----------------------------MAIN----------------------------*/
/*----------------------------MAIN----------------------------*/
/*----------------------------MAIN----------------------------*/
/*------------------------------------------------------------*/

h2 {
  position: relative;
  top: 20px;
  font-family: "Oswald";
  color: rgb(255, 255, 255);
  font-size: 80px;
  transition: 0.3s;
}
h2:hover {
  color: #ccff00;
}

h6 {
  font-family: "Oswald";
  color: rgb(255, 255, 255);
  font-size: 30px;
  position: relative;
  padding: 20px;
}
/*--------------------------------------------------------------*/
/*----------------GRILLA TORNEO 5 y 6 DE AGOSTO-----------------*/
/*--------------------------------------------------------------*/
.torneo050823 {
  display: grid;
  max-width: 90vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 150px);
  grid-template-areas:
    "area1 area1 area2 area2"
    "area1 area1 area2 area2"
    "area3 area3 area3 area3";
  gap: 30px;
  margin: auto;
  margin-bottom: 30px;
}

.g1-050823 {
  grid-area: area1;
}

.g2-050823 {
  grid-area: area2;
}

.g3-050823 {
  grid-area: area3;
}

@media only screen and (max-width: 950px) {
  .torneo050823 {
    padding-top: 3%;
    gap: 20px;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(3, 150px);
    grid-template-areas:
      "area1 area1 area2 area2"
      "area1 area1 area2 area2"
      "area3 area3 area3 area3";
  }
  .torneo050823 p {
    font-size: 25px;
  }
}
@media only screen and (max-width: 730px) {
  .torneo050823 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-template-areas:
      "area1 area1 area1"
      "area2 area2 area2"
      "area3 area3 area3";
  }
  .torneo050823 p {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------*/
/*----------------GRILLA TORNEO 15 y 16 DE JULIO----------------*/
/*--------------------------------------------------------------*/

.torneo150723 {
  display: grid;
  max-width: 90vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 150px);
  grid-template-areas:
    "area1 area1 area2 area2"
    "area1 area1 area2 area2"
    "area3 area3 area3 area3";
  gap: 30px;
  margin: auto;
  margin-bottom: 30px;
}

.grid-hijo {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
}

.grid-hijo:hover > img {
  transform: scale(1.1);
  opacity: 0.7;
}

.grid-texto {
  position: absolute;
  font-size: 30px;
  font-family: "Lunasima";
  color: #fff;
  bottom: 0;
  left: 20px;
}
.grid-texto,
.grid-texto-center {
  text-shadow: 4px 4px 5px #000000;
}
.grid-texto-center {
  position: absolute;
  font-size: 30px;
  font-family: "Lunasima";
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-img,
.grid-img-galeria {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 14px;
  z-index: -4;
  transition: 0.8s ease;
}

.g1-150723 {
  grid-area: area1;
}

.g2-150723 {
  grid-area: area2;
}

.g3-150723 {
  grid-area: area3;
}

@media only screen and (max-width: 950px) {
  .torneo150723 {
    padding-top: 3%;
    gap: 20px;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(3, 150px);
    grid-template-areas:
      "area1 area1 area2 area2"
      "area1 area1 area2 area2"
      "area3 area3 area3 area3";
  }
  .torneo150723 p {
    font-size: 25px;
  }
  .titulo {
    font-size: 55px;
  }
  .subtitulo {
    font-size: 25px;
  }
}
@media only screen and (max-width: 730px) {
  .torneo150723 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-template-areas:
      "area1 area1 area1"
      "area2 area2 area2"
      "area3 area3 area3";
  }
  .torneo150723 p {
    font-size: 20px;
  }

  .grid-img {
    scale: 1.3;
    object-position: 100% 30%;
  }
  .titulo {
    font-size: 30px;
  }
  .subtitulo {
    font-size: 20px;
  }
}

/* ---------------- ------TEXTMOVE ---- ----------------*/
/*'Sohne Schmal'
font-size: 224px;
 animation-name: textSCroll;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @keyframes textSCroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}*/

.text-move {
  background-color: rgb(0, 0, 60);
  padding: 30px;
  overflow: hidden;
}
.texto-move {
  font-family: "League Gothic", sans-serif;
  color: #00000000;
  width: 400vw;
  display: flex;
  font-size: 10vw;
  line-height: 10vw;
  letter-spacing: 2px;
  animation-name: textSCroll;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-text-stroke: 2px #ccff00;
}
.texto-move span {
  color: #ccff00;
}

@keyframes textSCroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}
@media only screen and (max-width: 950px) {
  .texto-move {
    font-size: 12vw;
  }
}
@media only screen and (max-width: 730px) {
  .texto-move p {
    font-size: 12vw;
  }
}
/* ------------------------FOOTER ----------------------*/

.footer {
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

/* ------------------------FOOTERnav ----------------------*/
.footer-nav {
  height: auto;
  background-color: rgb(3, 0, 88);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-hijo {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 15px 30px;
  margin: 10px;
}

.footer-hijo:hover {
  color: #ccff00;
  background-color: #030034;
  border-radius: 7px;
  transition: all 0.3s linear;
}

@media only screen and (max-width: 730px) {
  .footer-nav {
    justify-content: space-around;
  }
}

/* ------------------------FOOTERbanner ----------------------*/

.footer-carousel {
  height: 400px;
  width: 100%;
  background: linear-gradient(to bottom, rgb(3, 0, 88), rgb(0, 0, 0));
}
.carousel-publi {
  display: flex;
  margin-top: 20px;
  animation: slide-fade 20s infinite;
  opacity: 0;
  position: absolute;
  height: 300px;
  justify-content: center;
  align-items: center;
}
.carousel-enlace {
  display: flex;
  justify-content: center;
}

.carousel-publi:nth-child(1) {
  animation-delay: 0s;
}

.carousel-publi:nth-child(2) {
  animation-delay: 10s;
}

.carousel-publi img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes slide-fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}
@media only screen and (max-width: 500px) {
  .footer-carousel {
    height: 150px;
  }
  .carousel-publi {
    height: 150px;
  }
}

/* ------------------------FOOTERenlaces ----------------------*/

.footer-enlaces {
  border-top: solid 3px rgba(170, 170, 170, 0.359);
  height: 150px;
  background-color: #000000;
  z-index: 99;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  display: flex;
  justify-content: space-evenly;
}
.enls {
  height: 30px;
}
.footer-enlaces img {
  margin: 40px;
  width: 50px;
  filter: drop-shadow(0px 0px 15px white) drop-shadow(0px 0px 15px white);
  height: auto;
  object-fit: cover;
  position: relative;
  transition: filter 0.5s linear;
}
.enls:hover > img {
  filter: drop-shadow(0px 0px 20px rgb(255, 255, 255))
    drop-shadow(-5px 5px 10px rgb(255, 255, 255))
    drop-shadow(5px -5px 10px rgb(255, 255, 255));
  transition: filter 0.5s linear;
}

@media only screen and (max-width: 500px) {
  .footer-enlaces {
    height: 150px;
    margin-top: 30px;
  }
  .footer-enlaces img {
    width: 30px;
  }
}

.designed {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 70px;
  width: 70%;
  border-top: solid 3px rgba(170, 170, 170, 0.359);
}
.designed a {
  margin-top: 20px;
  text-decoration: none;
}
.designed a p {
  font-family: montserrat, sans-serif;
  color: #fff;
  font-size: 15px;
  opacity: 0.5;
  transition: all 0.4s linear;
}
.designed a:hover > p {
  opacity: 1;
  transition: all 0.4s linear;
}

@media only screen and (max-width: 500px) {
  .designed a p {
    font-size: 10px;
  }
}
