// NAVBAR

@media (max-width: 540px) {

#check:checked~.listaNavbar {
    height: 15rem;
}

#check:checked~.icons #menu-icon {
    display: none;
}

#check:checked~.icons #close-icon {
    display: block;
}

    .logo2 {
        display: none;
    }



    .icons {
        display: inline-flex;
        width: 25px;
        height: auto;
        margin-right: 20px;
    }



    #close-icon {
        display: none;
    }

    #check {
        right: 20px;
    }



    .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgb(0, 0, 0, .1);
        backdrop-filter: blur(10px);
        border-radius: 0px 0px 10% 10%;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

        .listaNavbar {
            text-align: center;
            display: flex;
            flex-direction: column;
            font-size: 1.1rem;
            margin: .5rem;

            li {
                a {
                    &:hover {
                        color: white;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}









//GRID TORNEO
@media only screen and (max-width: 768px) {

    .torneo1 { 
        padding-top: 3%;
            margin: auto;
            gap:20px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 10%);
            grid-template-areas:
                "area1 area1"
                "area1 area1"
                "area2 area2"
                "area2 area2"
                "area3 area3"
            ;
    
        img{
            width: 100%;
            height: auto;
        }

        p{
            font-size: 1rem;
        }

        .parrafo {
            padding: 10px 15px;
        }
    }

    .titulo {
        font-size: 2rem;
    }

    .subtitulo {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 281px) {

    .torneo1 { 
        padding-top: 3%;
            margin: auto;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 10%);
            grid-template-areas:
                "area1 area1"
                "area1 area1"
                "area2 area2"
                "area2 area2"
                "area3 area3"
            ;
    
        img{
            width: 100%;
            height: auto;
        }

        p{
            font-size: 1rem;
        }

        .parrafo {
            padding: 10px 15px;
        }
    }

    .titulo {
        font-size: 1rem;
    }

    .subtitulo {
        font-size: 50%;
    }

}