@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lunasima:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Exo:wght@800&family=Poppins:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #101010;
  min-height: 100vh;
}
main {
  padding-top: 3%;
}

div a p {
  color: white;
}

/*--------------------------------------------------------*/
/*--------------------------HEADER------------------------*/
/*--------------------------NAVBAR------------------------*/
/*--------------------------RESPON------------------------*/
/*--------------------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background: #1a1a1a;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
}
.chico {
  color: #ccff00;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: auto;
}

.navbar {
  margin-right: 3rem;
}
.navbar a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  padding: 0.3rem 1rem 0.3rem 1rem;
}
.navbar a:hover {
  color: #ccff00;
  background-color: #161616;
  border-radius: 7px;
  transition: all 0.3s linear;
}

@media (max-width: 540px) {
  #check:checked ~ .listaNavbar {
    height: 15rem;
  }
  #check:checked ~ .icons #menu-icon {
    display: none;
  }
  #check:checked ~ .icons #close-icon {
    display: block;
  }
  .logo2 {
    display: none;
  }
  .icons {
    display: inline-flex;
    width: 25px;
    height: auto;
    margin-right: 20px;
  }
  #close-icon {
    display: none;
  }
  #check {
    right: 20px;
  }
  .navigation {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 10% 10%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  .navigation .listaNavbar {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    margin: 0.5rem;
  }
  .navigation .listaNavbar li a:hover {
    color: white;
    background-color: transparent;
  }
}

/*----------------------INCRIPCION BOTON----------------------*/

.inscripcion {
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 99999;
  background-color: #ccff00;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 75px;
  transition: all 0.3s linear;
}
.inscribite {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #030034;
  font-size: 35px;
  transition: all 0.3s linear;
}
.inscribite span {
  font-family: "Poppins", sans-serif;
  transition: all 0.3s linear;
}
.inscripcion:hover {
  background-color: #1a1a1a;
  transition: all 0.3s linear;
}
.inscripcion:hover > a {
  color: #ccff00;
  transition: all 0.3s linear;
}
.inscripcion:hover > .inscribite::after {
  color: #ccff00;
  transition: all 0.3s linear;
}
.inscribite::after {
  content: "al torneo";
  position: absolute;
  font-size: 20px;
  color: #030034;
  top: 40px;
  left: 85px;
  transition: all 0.3s linear;
}
.inscribite span:nth-child(1) {
  display: inline-block;
  animation: aca 2s infinite;
  font-size: 35px;
  animation-delay: 0.2s;
  transform: translatey(15px);
}
.inscribite span:nth-child(2) {
  display: inline-block;
  animation: aca 2s infinite;
  font-size: 35px;
  animation-delay: 0.4s;
  transform: translatey(15px);
}
.inscribite span:nth-child(3) {
  display: inline-block;
  animation: aca 2s infinite;
  font-size: 35px;
  animation-delay: 0.6s;
  transform: translatey(15px);
}

@keyframes aca {
  0%,
  40%,
  100% {
    transform: translatey(15px);
  }
  20% {
    transform: translateY(-5px);
  }
}

/*------------------------------------------------------*/
/*--------------------------MAIN------------------------*/
/*--------------------------MAIN------------------------*/
/*--------------------------MAIN------------------------*/
/*------------------------------------------------------*/

h1 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-family: "Oswald";
  color: rgb(255, 255, 255);
  font-size: 80px;
  transition: 0.3s;
  padding-top: 30px;
  /*Responsive el padding top*/
}
h1:hover {
  color: #ccff00;
}

h3 {
  font-family: "Oswald";
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: 0px;
}
h4 {
  font-family: "Oswald";
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin-bottom: 0px;
}
.store1::before {
  position: relative;
  top: 20px;
  right: 10px;
  content: "";
  width: 80px;
  height: 2px;
  background-color: #ffffff;
}
.store1::after {
  position: relative;
  top: 20px;
  left: 10px;
  content: "";
  width: 80px;
  height: 2px;
  background-color: #ffffff;
}
.store1:hover {
  color: #ccff00;
}
.store:hover > .store1::after,
.store:hover > .store1::before {
  background-color: #ccff00;
  transition: all 0.3s linear;
}

/*------------------------ TIENDA ------------------------*/

.contenedor {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 90px;
  flex-wrap: wrap;
  background-color: #101010;
}
.cont-color {
  background-color: #1a1a1a;
  border-radius: 17px;
  transition: 0.5s;
}

.cont-color:hover {
  transition: 0.5s;
  background-color: #00000000;
}

.contenedor-seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin: 20px;
  background-color: #1a1a1a;
  background: linear-gradient(
    to bottom,
    rgba(26, 26, 26, 1) 0%,
    rgb(26, 26, 26) 33%,
    rgba(204, 255, 0, 1) 100%
  );
}

.contenedor-seccion .carta {
  flex: 1;
  background-color: #1a1a1a;
  margin: 10px 10px;
  border-radius: 20px;
}
.img-tienda {
  width: auto;
  height: 450px;
  padding: 20px;
  transition: 1.2s;
}
.img-tienda:hover {
  transition: 1.2s;
  transform: scale(1.1);
}
.carta h2:hover > .img-tienda {
  transition: 1.2s;
  transform: scale(1.1);
}
.contenedor-seccion .carta h2 {
  margin: 15px 0px;
  font-size: 28px;
  color: #fff;
  font-family: "Konkhmer Sleokchher";
}
.contenedor-seccion .carta p {
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 10px;
  margin-bottom: 5px;
  font-family: "Roboto";
}
.boton-wp {
  display: flex;
  color: #ccff00;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding: 18px;
  text-decoration: none;
}
.log-tienda {
  filter: invert(91%) sepia(70%) saturate(7355%) hue-rotate(13deg)
    brightness(101%) contrast(102%);
  padding: 10px;
  display: flex;
  width: 50px;
  height: 50px;
}
.boton-wp:hover {
  background-color: #131313;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media only screen and (max-width: 1000px) {
  .cont-color:hover {
    transition: 0.5s;
    background-color: #1a1a1a;
  }
  .contenedor-seccion {
    box-shadow: 15px 12px 21px -15px #ffffff38;
  }
}
/* ------------------------FOOTER ----------------------*/

.footer {
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

/* ------------------------FOOTERnav ----------------------*/
.footer-nav {
  height: auto;
  background-color: #1a1a1a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-hijo {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 15px 30px;
  margin: 10px;
}

.footer-hijo:hover {
  color: #ccff00;
  background-color: #161616;
  border-radius: 7px;
  transition: all 0.3s linear;
}

@media only screen and (max-width: 730px) {
  .footer-nav {
    justify-content: space-around;
  }
}

/* ------------------------FOOTERbanner ----------------------*/

.footer-carousel {
  height: 400px;
  width: 100%;
  background: linear-gradient(to bottom, #1a1a1a, rgb(0, 0, 0));
}
.carousel-publi {
  display: flex;
  margin-top: 20px;
  animation: slide-fade 20s infinite;
  opacity: 0;
  position: absolute;
  height: 300px;
  justify-content: center;
  align-items: center;
}
.carousel-enlace {
  display: flex;
  justify-content: center;
}

.carousel-publi:nth-child(1) {
  animation-delay: 0s;
}

.carousel-publi:nth-child(2) {
  animation-delay: 10s;
}

.carousel-publi img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes slide-fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}
@media only screen and (max-width: 500px) {
  .footer-carousel {
    height: 150px;
  }
  .carousel-publi {
    height: 150px;
  }
}

/* ------------------------FOOTERenlaces ----------------------*/

.footer-enlaces {
  border-top: solid 3px rgba(170, 170, 170, 0.359);
  height: 150px;
  background-color: #000000;
  z-index: 99;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  display: flex;
  justify-content: space-evenly;
}
.enls {
  height: 30px;
}

.footer-enlaces img {
  margin: 40px;
  width: 50px;
  filter: invert(60%);
  height: auto;
  object-fit: cover;
  position: relative;
  transition: filter 0.3s linear;
}
.enls:hover > img {
  filter: invert(0%);
  transition: filter 0.3s linear;
}

@media only screen and (max-width: 500px) {
  .footer-enlaces {
    height: 150px;
    margin-top: 30px;
  }
  .footer-enlaces img {
    width: 30px;
  }
}

.designed {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 70px;
  width: 70%;
  border-top: solid 3px rgba(170, 170, 170, 0.359);
}
.designed a {
  margin-top: 20px;
  text-decoration: none;
}
.designed a p {
  font-family: montserrat, sans-serif;
  color: #fff;
  font-size: 15px;
  opacity: 0.5;
}
.designed a:hover > p {
  opacity: 1;
  transition: all 0.4s linear;
}

@media only screen and (max-width: 500px) {
  .designed a p {
    font-size: 10px;
  }
}
